*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: "poppins", sans-serif;
   
}
a{
    text-decoration: none;
    color: #5f5f5f;
}
.navbar{
    background-color: whitesmoke;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 6%;
    top: 0;
    z-index: 9999;
}
.navbar-left{
    display: flex;
    align-items: center;
}
.navbar-center ul li{
    display: inline-block;
    list-style: none;
   
}
.navbar-center ul li a{
   display: flex;
   align-items: center;
   margin: 5px 8px;
   padding: 5px;
   font-size: 14px;
   position: relative;
}
.navbar-center ul li a span{
    color: black;
 }
.navbar-center ul li a img{
    width: 30px;
}
.logo{
    display: block;
}
.logo img{
    width: 30px;
    margin-right: 15px;
}
.navbar-center ul li a::after{
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 100%;
    position: absolute;
    bottom: -10px;
    transition: width 0.3s;
    background-color: blue;
 }
 .navbar-center ul li a:hover::after{
    width: 100%;
 }
 .navbar-right .online img{
    width: 50px;
    display: block;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    /* right: 200%; */
 }
 
 
 .search-box{
    display: flex;
    width: 250px;
    padding: 0 15px;
    align-items: center;
 }
 .search-box input{
    width: 100%;
    padding: 8px;
    outline: none;
    border: 2px solid #ded8d8;
    background: transparent;
    border-radius: 6px;
 }
 .search-box img{
    width: 14px;
 }
 .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 6%;
    background-color: whitesmoke;
    

 }
 .left-sidebar{
flex-basis: 25%;
position: sticky;
top: 60px;
align-self: flex-start;
box-shadow: 2px 4px 2px 4px rgb(240, 239, 239);
 }
 .main-content{
    flex-basis: 47%;

 }
 .right-bar{
    flex-basis: 25%;
position: sticky;
top: 60px;
align-self: flex-start;
 }.sidebar-activity{
    background-color: #fff;
    padding: 5px 25px;
    margin: 12px 0px;
 }
 .sidebar-activity h3{
    color: #5f5f5f;
    font-size: 15px;
    font-weight: 700;
    margin: 20px 10px;

 }
 .sidebar-activity a{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 3px 0px;
    color:gray;
    text-decoration: none;

 }
 .sidebar-activity a i{
   font-size: 20px;
    margin-right: 20px;
 }
 .create-post-input img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;

 }
 .create-post-input{
    display: flex;
    align-items: flex-start;
    padding: 25px 20px 10px;
 }
 .create-post{
    background-color: white;
 }
 .create-post-input textarea{
border: 0;
outline: 0;
width: 100%;
background: transparent;
resize: none;
margin-top: 8px;
 }
 .create-post-links{
    display: flex;
    align-items: flex-start;

 }
 .create-post-links li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
    cursor: pointer;
    height: 40px;
    color: gray;
    border-right: 1px solid #ccc;
    border: 1px solid #ccc;
 }
 .create-post-links img{
    width: 15px;
    margin-right: 5px;

 }


 @media (max-width:600px){
    .search-box{
        width: auto;
        background: transparent;
        padding: 0;
    }
    .search-box input{
        width: 0;
        padding: 0;
    }
    .navbar-center ul li a span{
        display: none;
    }
    .navbar-center ul li a {
       padding-right: 0;
       margin: 5px;
    }
    .nav-profile img{
        width: 30px;
    }
    .container{
        padding: 15px 16px;
       
    }
    .left-sidebar, .right-bar{
        top: unset;
        position: relative;
        flex-basis: 100%;
    }
    .main-content{
        flex-basis: 100%;
    }
    
 }
 
 .xp{
   display: flex;
 justify-content: space-around;
 }
 .post{
   background: #fff;
   padding: 20px 25px 5px;
   margin: 5px 0 15px;
 }
 .post-author{
   display: flex;
   align-items: flex-start;
   margin-bottom: 20px;
 }
 .post-author h1{
   font-size: 18px;
   font-weight: 600;
   color: #333;
 }
 .post-author h6{
   display: block;
   margin-bottom: -2px;
 }
 
 .post p{
   font-size: 13px;
   margin-bottom: 15px;
 }
 .post-stats{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   font-size: 12px;
   padding-bottom: 6px;
 }
 .post-stats div{
   display: flex;
   align-items: center;
 }
 .post-stats img{
   width: 15px;
   margin-right: 5px;
 }
 .liked-user{
   margin-left: 10px;
 }
 .post-activity{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 0;
   font-size: 14px;
   font-weight: 500;
 }
 .post-author img{
   width: 45px;
   border-radius: 100%;
   margin-right: 10px;
   margin-top: 8px;
 }
 .post-activity-user-icon{
   width: 22px;
   border-radius: 50%;
 }
 .post-activity-arrow-icon{
   width: 12px;
   margin-left: 5px;
 }
 .post-activity-link img{
   width: 18px;
   margin-right: 100px;
 }


 .sidebar-activit{
    padding: 5px 25px;
    margin: 12px 0px;
 }
 .sidebar-activit button{
    background-color: whitesmoke;
    color: #0b66c2;
    border-radius: 30px;
    border: 1px solid #0b66c2;
   padding: 8px;
   width: 150px;
   margin-bottom: 150px;
 }

 .one{
    background-color: #045be6;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 12px;
    margin-right: 6px;
 }
 .two{
    background-color: red;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 12px;
    margin-right: 10px;
 }
 .create-post{
    display: flex;
   /* background: #94afca; */
   background: red;
 
   justify-content: space-between;
   align-items: center;
  
 }
 .gre{
    margin-right: 10px;
   
 } .right-bar .dk{
    justify-content: space-evenly;
    gap: 20px;
 }
 .create-pos{
    background-color: #94afca;
    border-radius: 8px;
 }
 